/* CSS for Alfabet Users Popup */
#alfabet-users-popup{
    margin-bottom: 45px;
}

.alfabet-users-description {
    font-size: 1em;
}

.close-alfabet-users-popup {
    font-size: 1em;
}

.alfabet-users-links a{
    font-size: 1em;
    padding: 10px;
    min-width: unset;
}
